In [1]:
import pandas as pd

In [2]:
pd.__version__

'1.5.2'

In [3]:
df = pd.read_csv('../../yellow_tripdata_2019-01.csv', nrows=100)

In [4]:
df.tpep_pickup_datetime = pd.to_datetime(df.tpep_pickup_datetime)
df.tpep_dropoff_datetime = pd.to_datetime(df.tpep_dropoff_datetime)

In [5]:
from sqlalchemy import create_engine

In [6]:
engine = create_engine('postgresql://root:root@localhost:5432/ny_taxi')

In [8]:
print(pd.io.sql.get_schema(df, name='yellow_taxi_data', con=engine))

CREATE TABLE yellow_taxi_data (
	"VendorID" BIGINT,
	tpep_pickup_datetime TIMESTAMP WITHOUT TIME ZONE,
	tpep_dropoff_datetime TIMESTAMP WITHOUT TIME ZONE,
	passenger_count BIGINT,
	trip_distance FLOAT(53),
	"RatecodeID" BIGINT,
	store_and_fwd_flag TEXT,
	"PULocationID" BIGINT,
	"DOLocationID" BIGINT,
	payment_type BIGINT,
	fare_amount FLOAT(53),
	extra FLOAT(53),
	mta_tax FLOAT(53),
	tip_amount FLOAT(53),
	tolls_amount FLOAT(53),
	improvement_surcharge FLOAT(53),
	total_amount FLOAT(53),
	congestion_surcharge FLOAT(53)
)

In [9]:
df_iter = pd.read_csv('../../yellow_tripdata_2019-01.csv', iterator=True, chunksize=100000)

In [10]:
df = next(df_iter)

In [11]:
len(df)

100000

In [12]:
df.tpep_pickup_datetime = pd.to_datetime(df.tpep_pickup_datetime)
df.tpep_dropoff_datetime = pd.to_datetime(df.tpep_dropoff_datetime)

In [14]:
df;

In [15]:
df.head(n=0).to_sql(name='yellow_taxi_data', con=engine, if_exists='replace')

0

In [16]:
%time df.to_sql(name='yellow_taxi_data', con=engine, if_exists='append')

CPU times: user 5.55 s, sys: 498 ms, total: 6.05 s
Wall time: 16.7 s

1000

In [17]:
from time import time

In [18]:
while True: 
    t_start = time()

    df = next(df_iter)

    df.tpep_pickup_datetime = pd.to_datetime(df.tpep_pickup_datetime)
    df.tpep_dropoff_datetime = pd.to_datetime(df.tpep_dropoff_datetime)
    
    df.to_sql(name='yellow_taxi_data', con=engine, if_exists='append')

    t_end = time()

    print('inserted another chunk, took %.3f second' % (t_end - t_start))

inserted another chunk, took 16.074 second
inserted another chunk, took 12.711 second
inserted another chunk, took 14.802 second
inserted another chunk, took 13.689 second
inserted another chunk, took 15.843 second
inserted another chunk, took 12.374 second
inserted another chunk, took 15.993 second
inserted another chunk, took 16.701 second
inserted another chunk, took 13.242 second
inserted another chunk, took 12.489 second
inserted another chunk, took 12.937 second
inserted another chunk, took 12.237 second
inserted another chunk, took 12.721 second
inserted another chunk, took 14.232 second
inserted another chunk, took 12.463 second
inserted another chunk, took 13.697 second
inserted another chunk, took 18.647 second
inserted another chunk, took 14.766 second
inserted another chunk, took 14.109 second
inserted another chunk, took 17.218 second
inserted another chunk, took 14.932 second
inserted another chunk, took 14.107 second
inserted another chunk, took 13.394 second
inserted another chunk, took 16.611 second
inserted another chunk, took 13.518 second
inserted another chunk, took 12.537 second
inserted another chunk, took 12.028 second
inserted another chunk, took 15.208 second
inserted another chunk, took 13.214 second
inserted another chunk, took 14.083 second
inserted another chunk, took 14.562 second
inserted another chunk, took 12.814 second
inserted another chunk, took 12.624 second
inserted another chunk, took 13.148 second
inserted another chunk, took 12.841 second
inserted another chunk, took 14.218 second
inserted another chunk, took 14.904 second
inserted another chunk, took 13.107 second
inserted another chunk, took 17.192 second
inserted another chunk, took 17.763 second
inserted another chunk, took 17.437 second
inserted another chunk, took 13.067 second
inserted another chunk, took 12.775 second
inserted another chunk, took 16.096 second
inserted another chunk, took 15.856 second
inserted another chunk, took 13.314 second
inserted another chunk, took 12.602 second
inserted another chunk, took 15.894 second
inserted another chunk, took 16.315 second
inserted another chunk, took 16.825 second
inserted another chunk, took 16.094 second
inserted another chunk, took 16.678 second
inserted another chunk, took 16.755 second
inserted another chunk, took 18.516 second
inserted another chunk, took 15.081 second
inserted another chunk, took 14.134 second
inserted another chunk, took 13.795 second
inserted another chunk, took 13.322 second
inserted another chunk, took 13.104 second
inserted another chunk, took 13.041 second
inserted another chunk, took 15.614 second
inserted another chunk, took 13.472 second
inserted another chunk, took 14.089 second
inserted another chunk, took 13.303 second
inserted another chunk, took 13.315 second
inserted another chunk, took 13.311 second
inserted another chunk, took 13.234 second
inserted another chunk, took 13.062 second
inserted another chunk, took 13.269 second
inserted another chunk, took 13.206 second
inserted another chunk, took 14.771 second
inserted another chunk, took 16.208 second
inserted another chunk, took 17.235 second
inserted another chunk, took 15.617 second
inserted another chunk, took 16.338 second
inserted another chunk, took 10.392 second

StopIteration:

In [8]:
!wget https://s3.amazonaws.com/nyc-tlc/misc/taxi+_zone_lookup.csv

--2023-01-22 23:16:30--  https://s3.amazonaws.com/nyc-tlc/misc/taxi+_zone_lookup.csv
Resolving s3.amazonaws.com (s3.amazonaws.com)... 52.217.95.16, 52.217.164.64, 54.231.204.88, ...
Connecting to s3.amazonaws.com (s3.amazonaws.com)|52.217.95.16|:443... connected.
HTTP request sent, awaiting response... 200 OK
Length: 12322 (12K) [application/octet-stream]
Saving to: ‘taxi+_zone_lookup.csv’

taxi+_zone_lookup.c 100%[===================>]  12,03K  --.-KB/s    in 0s

2023-01-22 23:16:30 (66,8 MB/s) - ‘taxi+_zone_lookup.csv’ saved [12322/12322]

In [9]:
df_zones = pd.read_csv('taxi+_zone_lookup.csv')

In [10]:
df_zones.head()

   LocationID        Borough                     Zone service_zone
0           1            EWR           Newark Airport          EWR
1           2         Queens              Jamaica Bay    Boro Zone
2           3          Bronx  Allerton/Pelham Gardens    Boro Zone
3           4      Manhattan            Alphabet City  Yellow Zone
4           5  Staten Island            Arden Heights    Boro Zone

In [11]:
df_zones.to_sql(name='zones', con=engine, if_exists='replace')

265